@charset "utf-8";
/* CSS Document */
.clear{clear:both;}
body{ background-color:#eef3fa; margin:0 ; padding:0 ;}
.wrapper{ margin:0 auto; width:100%;background-color: #fff;}
.logo{ text-align:center;}
.logo img {
  width: 350px;
}
h1{text-align:center; color:#324a60;padding:12px; margin:0 auto; font-family:"Arial Black", Gadget, sans-serif;font-size:18px; font-weight:lighter; }
.sec{background-color:#ecf0f1; height:50px; width:100%; margin:0 auto;}
.right_search{text-align:center;}
.text{height: 28px;padding: 0 11px 6px 8px;width: 273px;}
h2 {
  font-family: arial;
  font-size: 14px;
  color: rgb(113, 104, 104);
  margin: 0px;
  padding: 0px;
}
.heading {
  padding: 35px;
}

.header_photo{width:70%; height:200px; margin:0 auto;}
.center{width:70%; margin:0 auto;}
.btn{  background-color: #0d7cc1;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
    margin: 10px;}
.btn_cancel{background-color:#d90005 !important; border: none;
  height: 35px;
  width: 120px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
    margin: 10px;}

.onoffswitch {
    position: relative; width: 50px;  padding-top: 20px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
     border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 6px;
    background-color: #5C9056; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 12px; margin: 6px;
    background: #fff;
     border-radius: 20px;
    position: absolute; top: 20px; bottom: 0; right: 28px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


.top_data{width:68%; margin:0 auto;}
.left_data{width:50%; float:left;   margin-top: 30px;}
.right_data{width:40%; float:right;  margin-top: 30px;}
.qsn_name {
  margin: 14px 0px 30px 0px;
}
.name {
  margin-top: 10px;
}
.pass {
  margin-top: 10px;
}
input.input {
  height: 15px;
  padding: 4px;
}
.run_time {
  line-height: 25px;
}
.export {
  margin-top: 30px;
}
.import {
  margin-top: 30px;
}

label{
  color: rgb(29, 28, 28);
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
.photo_head {
  margin-left: 34px;
    margin-bottom: 6px;
}
button.btn_br {
  background-color: #0d7cc1;
  border: none;
  height: 28px;
  width: 90px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  margin-left: 34px;
}

.title {
  margin-left: 34px;
    margin-top: 20px;
}

.sm_title{width:25%; float:left;}
input.sm_input {
  width: 135px;
  height: 18px;
  border: 1px solid rgb(186, 177, 177);
}
.lastouter_sec{text-align:center; margin:20px auto;}